$footer_height: 50px;

html, body {
    height:100%;

    #wrap {
        min-height: 100%;
        height: auto !important;
        margin-bottom: -$footer_height;
    }

    #main {
        overflow:auto;
        padding-bottom: $footer_height + 50px;
    }

    footer {
        height: $footer_height;
    }
}

section {
    h2, h3 {
        margin-top: 0px;
        line-height: 0.6;
    }
}

nav, .alert {
    a {
        cursor: pointer;
    }
}

// bootswatch theme overrides
.btn-toolbar {
    .btn, .btn-group, .input-group {
        margin-left: 0px;
    }
}
.navbar-default {
    background-color: transparent;
}

