body {
    padding-top: 20px;
}

nav, .alert {
    a {
        cursor: pointer;
    }
}

.header-placeholder {
    height: 50px;
}

// bootswatch theme overrides
.btn-toolbar {
    .btn, .btn-group, .input-group {
        margin-left: 0px;
    }
}
