<section class="admin">
    <div class="row-fluid">
        <h1>Manage your interests</h1>

    <p>
    Establish here your list of interesting topics. For each topic, set its name and its associated search terms.
    <br>No account creation is needeed, all data is saved in your browser and will be available the next time you visit this page. 
    </p>
        <form ng-submit="addInterest();">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newinterest.name" placeholder="New interest">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" type="button" id="btnSaveNewInterest">Add</input>
                </span>
            </div><!-- /input-group -->
        </form>
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr ng-show="interests.length > 0">
                <th style="width: 100px;"></th>
                <th>Name</th>
                <th>Search request *</th>
            </tr>
            <tr ng-repeat="interest in interests | orderBy:'name':false">
                <form>
                    <td>
                        <div class="btn-toolbar" ng-show="interest.editMode == null || interest.editMode == false">
                            <div class="btn-group">
                                <i class="btn glyphicon glyphicon-edit" ng-click="toggleEditMode(interest)"></i>
                                <i class="btn glyphicon glyphicon-trash" ng-really-message="'Really delete ?'" ng-really-click="deleteInterest(interest)"></i>
                            </div>
                        </div>
                        <div class="btn-toolbar" ng-show="interest.editMode == true">
                            <div class="btn-group">
                                <i class="btn glyphicon glyphicon-save" ng-click="updateInterest(interest)"></i>
                                <i class="btn glyphicon glyphicon-remove" ng-click="cancelEditInterest(interest)"></i>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span ng-show="interest.editMode == null || interest.editMode == false">{{interest.name}}</span>

                        <div class="input-group" ng-show="interest.editMode === true" >
                            <input type="text" class="form-control" ng-model="interest.name">
                        </div>
                    </td>
                    <td>
                        <span ng-show="interest.editMode == null || interest.editMode == false">{{interest.searchString}}</span>
                        <div class="input-group" ng-show="interest.editMode === true" >
                            <input type="text" class="form-control" ng-model="interest.searchString">
                        </div>
                    </td>
                </form>
            </tr>
        </table>

        <p> * The search request should follow the same syntax as the one used by the selected search engine.<br>
        For google : phrases in double quotes, pipe symbol (|) to separate alternative versions of a same search term.</p>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="searchEngine"  class="col-sm-3 control-label">Search engine</label>
                <div class="col-sm-9">
                    <select ng-model="searchEngine" ng-options="s.name for s in searchEngines" id="searchEngine" class="form-control" ng-change="updateSearchEngine(searchEngine)">
                    </select>
                </div>
            </div>
        </form>
    </div>
</section>
