<!doctype html>
<html ng-app="ngGiaffer" ng-controller="AppCtrl">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title ng-bind="pageTitle"></title>

    <!-- build:css --><!-- inject:css -->
    <!-- endinject --><!-- endbuild -->
    <!-- build:js --><!-- inject:js -->
    <!-- endinject --><!-- endbuild -->

</head>
<body ng-cloak>
<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="#">Giaffer</a>
        </div>

        <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a ui-sref="home" role="button" class="navbar-brand">Giaffer</a>
                    <li ui-sref-active="active"><a ui-sref="interests">Manage interests</a></li>
                    <li><a ng-click="openSettings()">Settings</a></li>
                    <li><a ng-click="openAbout()">About</a ></li>
                </ul>
            </nav>
            <nav class="visible-xs" collapse="!isCollapsed">
                <ul class="nav navbar-nav" ng-show="isCollapsed">
            <li ui-sref-active="active"><a ui-sref="home" ng-click="isCollapsed = !isCollapsed">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="interests" ng-click="isCollapsed = !isCollapsed">Manage interests</a></li>
            <li ui-sref-active="active"><a ui-sref="settings" ng-click="isCollapsed = !isCollapsed">Settings</a></li>
            <li ui-sref-active="active"><a ui-sref="about" ng-click="isCollapsed = !isCollapsed">About</a></li>
                </ul>
            </nav>

        </div>
    </div>
</header>
<div class="header-placeholder"></div>
<div role="main">
    <div class="container">
        <div ui-view="main"></div>
        <footer>Giaffer &copy; 2014 <a href="http://github.com/mmai/">Henri Bourcereau</a> - Original idea <a href="http://ludism.org/tinfoil">Ron Hale Evans</a></footer>
    </div>
</div>

</body>
</html>
