.home {

    .jumbotron {
        margin-top: 60px;
        text-align: center;
        .btn {
            margin-top: 10px;
        }
    }

    .interest {
        font-size: 110%;
        font-weight:bold;
        font-style:italic;
    }

}
