<section class="home">
        <div id="banner">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Giaffer</h1>
                    <p class="lead">
                    Discover new web pages by searching random combinations of your interests on the net
                    </p>
                </div>
                <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
                    You have {{nbInterests}} interest<span ng-show="nbInterests > 1">s</span>. Manage your interests <a ui-sref="interests">here</a>
                </div>
            </div>
        </div>
    </div><p>
</p>
        <div class="jumbotron">
            <p>What about searching for <span class="hidden-xs">something related to</span><br> 
        <span ng-repeat="theme in search.themes"> <span ng-show='!$last && !$first'>,</span><span ng-show='$last'>&nbsp;and</span> <span class="interest">{{theme.name}}</span> </span> ?
        </p>
<!--         <div class="panel panel-default"> -->
<!--             <div class="panel-body"> -->
<!--                 {{search.display}} -->
<!--             </div> -->
<!--         </div> -->
        <p>
        <a class="btn btn-default btn-lg" ng-click='newterms()'>
            <span class="glyphicon glyphicon-refresh"></span> Boring, please pick others
        </a> 
        <a id='search' class="btn btn-primary btn-lg" role="button" href="{{search.url}}" target="_blank">
                <span class="glyphicon glyphicon-search"></span> Fantastic ! Let's search that !
            </a>
        </p>
        </div>
</section>
